html {
	background:#eeeeec;
	min-height: 100%;
}

body {
	background: white;
	border-left: 1px solid #babdb6;
	border-right: 1px solid #babdb6;
	max-width: 720pt;
	margin: auto;
	min-height: 100%;
}

body a {
	color: #204a87;
}

body a:visited {
	color: #5c3566;
}

.header {
	background: #2e3436;
	color: #eeeeec;
	font-family: sans-serif;
	min-height: 1px;
}

.header a, .header a:visited {
	color: white;
}

.header h2, .header h3 {
	display: inline-block;
}

.footer {
	background: #d3d7cf;
	color: #555753;
	font-family: sans-serif:
	font-size: 0.8em;
}

.info {
	border-left: 4px solid #3465a4;
	background:#729fcf;
}

.warning {
	border-left: 4px solid #c4a000;
	background:#fce94f;
}

.error {
	border-left: 4px solid #a40000;
	background:#cc0000;
	color:white;
}

.error a, .error a:visited {
	color: white;
}


