:root {
  --page-bg: light-dark(#d3d7cf, #181b15);
  --header-bg: #fce94f;
  --body-bg: light-dark(#eeeeec, #2e3436);
  --footer-bg: #2e3436;

  --header-fg: #8f5902;
  --body-fg: light-dark(#202020, #d3d7cf);
  --footer-fg: #d3d7cf;
  --bleak-fg: #888a85;

  --b-border: #555753;

  --link: light-dark(#603407, #f2e788);
  --link-hover: light-dark(#000000, #ffe82a);
  --footer-link: #729fcf;

  --hv-border: light-dark(#888a85, #888a85);
  --lt-border: light-dark(#babdb6, #555753);

  --err-fg: light-dark(#eeeeec, #eeeeec);
  --err-brd: light-dark(#a40000, #ef2929);
  --err-bg: light-dark(#ef2929, #a40000);

  --inf-fg: light-dark(#2e3436, #baccdf);
  --inf-brd: light-dark(#4e9a06, #729fcf);
  --inf-bg: light-dark(#8ae234, #204a87);

  --wrn-fg: light-dark(#8f5902, #fff391);
  --wrn-brd: light-dark(#c4a000, #e9b96e);
  --wrn-bg: light-dark(#fce94f, #664a1d);
}

@font-face {
  font-family: "linja pimeja";
  src: url("linjapimeja19.woff");
}

@font-face {
  font-family: "insa pi supa lape";
  src: url("supalape.woff");
}

@font-face {
  font-family: "sitelen pona pona";
  src: url("sitelen-pona-pona.otf");
}

html {
  min-height: 100%;
  overflow-y: scroll;
  /* C_LGREEN doesn't exist */
  /*scrollbar-color: C_LGREEN var(--link-hover);*/
  scrollbar-width: auto;
}

body {
  background: var(--body-bg);
  color: var(--body-fg);
  min-height: 100%;
  margin: 0;
  font-family: sans-serif;
}

pre {
  font-size: 12pt;
}

blockquote {
  margin: 6pt;
  padding-inline: 1em;
  border-inline-start: 4px solid var(--lt-border);
}

p {
  line-height: 1.5em;
  margin: 0.7em 0;
  text-align: justify;
}

table {
  background: var(--body-bg);
  border: 2px solid var(--hv-border);
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

th,
td {
  border: 1px solid var(--lt-border);
  padding: 4pt;
}

.header {
  background: var(--header-bg);
  color: var(--header-fg);
  font-family: sans-serif;
  min-height: 1px;
}

.header_text {
  padding-block: 0.5em;
}

.header a,
.header a:visited {
  color: inherit;
}

.header h2,
.header h3 {
  display: inline;
}

.page-nav {
  width: 100%;
}

.page-nav > p {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
  width: 100%;
}

.page-nav > p > * {
  padding: 5px;
  border: solid 2px var(--b-border);
}
.page-nav > p > *:not(:first-child) {
  border-left: none;
}

.footer {
  background: var(--footer-bg);
  color: var(--footer-fg);
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 12pt 6pt;
}

.footer a,
.footer a:visited {
  display: inline-block;
  color: var(--footer-link);
}

.content {
  margin: 0 6pt;
  color: var(--body-fg);
  /*font-family: serif;*/
}

.content img {
  max-width: 100%;
}

.content a:link,
.content a:visited {
  color: var(--link);
}

.content a:focus,
.content a:hover {
  color: var(--link-hover);
}

.info,
.warning,
.error {
  margin: 6pt;
  padding-inline-start: 0.5em;
  font-family: sans-serif;
  overflow: auto;
  border-radius: 6px;
}

.info:before,
.warning:before,
.error:before {
  font-family: "Xolonium", sans-serif;
  float: inline-end;
  font-size: 3em;
  padding-inline-end: 0.2em;
}

.info:before {
  content: "★";
}

.warning:before {
  content: "⚠";
}

.error:before {
  content: "⛔";
}

.info {
  border: 2px solid var(--inf-brd);
  background: var(--inf-bg);
  color: var(--inf-fg);
}

.warning {
  border: 2px solid var(--wrn-brd);
  background: var(--wrn-bg);
  color: var(--wrn-fg);
}

.error {
  border: 2px solid var(--err-brd);
  background: var(--err-bg);
  color: var(--err-fg);
}

.spoiler {
  border: 2px solid var(--hv-border);
  color:;
  visibility: hidden;
}

.pona .latin {
  font-family: monospace;
}

.pona.pimeja {
  font-family: "linja pimeja";
  font-size: 2em;
}

.pona.supalape {
  font-family: "insa pi supa lape";
  font-size: 2em;
}

.pona.ponapona {
  font-family: "sitelen pona pona";
  font-size: 1.5em;
}

.def {
  text-decoration: dotted underline;
}

@media screen and (min-width: 480px) {
  html {
    background: var(--page-bg) url("hexagonal_bg.gif");
    background-attachment: fixed;
  }

  body {
    max-width: 608pt;
    border-radius: 6px;
    margin: auto;
  }

  .header_text {
    padding-inline: 2em;
    padding-block: 2em;
  }
  .content {
    padding-inline: 1em;
    padding-block: 1em;
  }

  .info,
  .warning,
  .error {
    padding: 6pt;
    padding-inline-start: 1em;
  }
}

@media screen and (min-width: 768pt) {
  .header {
    border-radius: 4px 4px 0 0;
  }

  body {
    max-width: 768pt;
    border: 2px solid var(--b-border);
    margin: 24pt auto;
    font-size: 110%;
  }

  .footer {
    border-radius: 0 0 4px 4px;
  }
}
