html {
	background:#d4d4d4;
	min-height: 100%;
}

body {
	background: #fafafa;
	color:#4b4b4b;
	border-style: solid;
	border-color: #9d9d9d;
	border-width: 1px;
	max-width: 720pt;
	margin: auto;
	min-height: 100%;
}

body a {
	color: #58aeee;
}

body a:visited {
	color: #9569c8;
}

blockquote {
	margin: 6pt;
	padding-inline-start: 1em;
	padding-inline-end: 1em;
	border-inline-start: 4px solid #9d9d9d;
}

p {
	line-height: 1.5em;
}

table {
	border: 2px solid #9D9D9D;
	border-collapse: collapse;
}

th, td {
    border: 1px solid #d4d4d4;
    padding: 4pt;
}

.header {
	background: #4b4b4b;
	color: #fafafa;
	font-family: sans-serif;
	min-height: 1px;
}

.header a, .header a:visited {
	color: #fafafa;
}

.header h2, .header h3 {
	display: inline-block;
}

.footer {
	background: #d4d4d4;
	color: #4b4b4b;
	text-align: center;
	font-family: sans-serif;
	font-size: 0.8em;
	padding: 12pt 6pt;
}

.content {
	margin: 0 6pt;
	color: #4b4b4b;
}

.info, .warning, .error {
	margin: 6pt;
	padding: 6pt;
	padding-inline-start: 1em;
	font-family: sans-serif;
}

.info {
	border-inline-start: 4px solid #44c55b;
	background:#8deda7;
}

.warning {
	border-inline-start: 4px solid #eaaf4d;
	background:#f9d381;
}

.error {
	border-inline-start: 4px solid #e75952;
	background:#f9938a;
}

.spoiler {
	border-inline-start: 4px solid #4b4b4b;
	background: #d4d4d4;
	color:#4b4b4b;
	visibility: hidden;
}
